body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: white;
    max-width: 80rem;
    margin: auto;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    color: green;
}

.output {
    border-radius: 10px;
    width: max-content;
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    padding-top: 0;
}



nav {
    display: grid;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    color: white;
    justify-content: flex-end;
    position: relative;
}

nav li {
    margin-right: 15px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;

}

nav a:hover {
    /* background-color: black; */
    /* padding: 10px; */
    border-radius: 10px;
    color: grey;
    transition: all 100ms;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 5px 5px;
    background-color: rgb(6, 33, 8);
    padding: 15px;
    margin: auto;
    border-radius: 15px;
}

nav li:hover>ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: max-content;
    transform: translateX(-25px);
}

nav ul ul li {
    width: 100%;
    margin: 0;
    text-align: left;
}