body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: sienna;
    background-color: lightgoldenrodyellow;
    max-width: 80rem;
    margin: auto;
    border: 10px;
}

.header{
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;
}

.splash{
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ingredients {
    background-color: white;
    /* border: 1px solid #ccc; */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: darkolivegreen;
    width: 30%;
}

.ingredients input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    filter: hue-rotate(220deg) brightness(1.0);
  }

.ingredients h2 {
    margin-top: auto;
}

.ingredients ul {
    list-style-type: none;
    /* padding: auto; */
    margin: 0;
    margin-left: 0;
    padding-inline-start: 0;
}

.ingredients li {
    margin-bottom: 5px;
}