*{
    margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
    font-family: Tekken;
    src: url(assets/tarrget/tarrgetexpandital.ttf);
}

@font-face {
    font-family: TekkenSub;
    src: url(assets/tarrget/tarrgetital.ttf);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */
    background-color: #070707;
    color: aliceblue;
}

h1 {
    font-family: Tekken;
    font-size: 50px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: brown;
    padding-bottom: 10px;
    margin-block-end: 0;
}

h2{
    font-family: TekkenSub;
    padding-bottom: 10px;
    color: brown;
}

nav button:hover {
    background-color: aliceblue;
    transition: all;
    transition-duration: 100ms;
}

nav button {
    background-color: brown;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    transform: translateY(-3px);
}

nav ul li{
    font-size: 12px;   
}

nav a:hover {
    color: brown;
    transition: all;
    transition-duration: 100ms;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a{
    text-decoration: none;
    color: aliceblue;
}

nav{
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 20px;
    width: 100%;
    padding: 20px;
    background-color: black;
    text-align: center;
    padding-bottom: 10px;
    /* position: fixed; */
}

.content {
    padding: 50px; /* Adjust the value based on your needs */
    max-width: 60%;
    margin: auto;
}